<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Bienvenido a mi blog satánico</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form formulario %}
                    {% buttons %}
                    <button class="btn btn-danger" type="submit">Guardar</button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-md-6">
                {% bootstrap_messages %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Titulo</th>
                            <th>Contenido</th>
                            <th>Categoria</th>
                            <th>Fecha</th>
                            <th>Autor</th>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ post.content }}</td>
                                <td>{{ post.category }}</td>
                                <td>{{ post.pub_date }}</td>
                                <td>{{ post.author }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>Published on: {{post.pub_date}}</p>
    <p>Categoria: {{post.category }}</p>
    <p>Autor: {{post.author}}</p>
    <hr>

    {% endfor %}
    {% bootstrap_javascript %}
</body>

</html>